/*Pour tout le site*/
*{
    margin:0;
    padding:0;
}
/*Propriete commun*/
h1{
    font-size: 5rem;
    color: #145a32;
    text-align: center;
    font-family:'Rubik Moonrocks', sans-serif;
}
button{
    padding: 0.5em;
    color: #e8f8f5;
    border-radius:5px;
    margin-right: 10px;
    background-color:#196f3d;
    box-shadow: 0 0 4px #0b5345;
}
button:hover{
    color: #cb4335;
    background-color:#117a65;
}
.actions{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
input{
    border-radius: 5px;
    border: 1px solid #154360;
}
/*Page en */
.wrapper{
    margin-top: 100px;
}
/*Liste ajouter*/
li{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
li p{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Poppins';
}