/*Pour tout le site*/
*{
    margin:0;
    padding:0;
    background-color: #f6ddcc;
}
/*Propriete commun*/
h1{
    font-size: 15rem;
    color: #145a32;
    text-align: center;
    font-family:'Rubik Moonrocks', sans-serif;
}
button{
    padding: 1em;
    color: #e8f8f5;
    font-size: larger;
    border-radius:5px;
    margin-right: 10px;
    background-color:#196f3d;
    box-shadow: 0 0 4px #0b5345;
}
button:hover{
    color: #ba4a00;
    font-weight: 900;
    background-color:#82e0aa;
}
.actions{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
input{
    font-size: xx-large;
    border-radius: 10px;
    border: 1px solid #154360;
}
/*Page en */
.wrapper{
    
    
    margin-top: 100px;
}
/*Action*/
.lova{
    width: 65%;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 0 12px 12px #145a32;
}
/*Liste ajouter*/
li{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
li p{
    width:50%;
    font-size: 50px;
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Poppins';
}